@media screen and (max-width: 660px) {
    .container{
        max-width: 320px;
    }
    .header__content-button{
        display: none;
    }
    .header__bottom{
        padding-top: 56px;
    }
    .header__content-title{
        width: 119px;
        height: 119px;
        margin-bottom: 45px;
        p{
            width: 128.13px;
            height: 102.44px;
            top: 18px;
            left: 15px;
            font-size: 28px;
        }
    }
    .about__backstage-button{
        display: block;
        margin:20px auto 30px;
        border-radius: 25px;
        background: linear-gradient(121.04deg, rgb(249, 128, 75) -4.058%,rgb(254, 144, 19) 108.987%);
        width: 298px;
        height: 54px;
        border: none;
        font-size: 16px;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: 0;
        text-align: center;
        text-transform: uppercase;
    }
    .about__flower:nth-child(1){
        width: 85px;
        height: 71px;
        bottom: -2px;
    }
    .about__flower:nth-child(2){
        width: 105px;
        height: 217px;
        right: -74px;
        top: 35px;
    }
    .about__flower:nth-child(3){
        width: 138px;
        height: 72px;
        left: -80px;
    }
}